::selection {
  background: #40cf8e;
  color: #0e172a;
}

.App {
  text-align: center;
}

.gradient {
  height: 100%;
  background-image: radial-gradient(
    circle at var(--x) var(--y),
    hsl(223, 58%, 18%),
    transparent 30%
  );
  z-index: 2;
}

.logo {
  position: var(--pos);
  top: var(--top);
  left: var(--left);
  font-size: 20px;
  z-index: 3;
  transition-duration: 500ms;
  transition-property: position, top, left, text-shadow, font-size;
}

.logo-centered {
  margin: 0;
  font-weight: 500;
  font-size: 72px;
}

.logo-caption {
  margin: 0;
  font-weight: 500;
  font-size: 72px;
  transition-duration: 500ms;
}

.fixed-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgb(14, 23, 42, 1),
    transparent
  );
  z-index: 1;
  transition-duration: 300ms;
}

.hidden-gradient {
  display: none;
}

.section {
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass-card {
  padding-top: 5vh;
  min-height: 9rem;
  background: transparent;
  border-color: transparent;
  transition-duration: 500ms;
  transition-property: box-shadow, background-color, backdrop-filter, opacity;
}

.glass-card:hover .card-title {
  color: #40cf8e;
}

.glass-card:hover {
  backdrop-filter: blur(1rem);
  background-color: rgba(225, 225, 225, 0.1);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.glass-card:hover .project-label {
  opacity: 0;
  transform: translateY(-50%);
}

.card-content {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.project-label {
  opacity: 1;
  transform: translatey(0%);
  transition-duration: 500ms;
  transition-property: opacity, filter, transform;
}

.show-project {
  opacity: 0;
  transform: translatey(-135%);
  transition-duration: 500ms;
  transition-property: opacity, filter, transform;
}

.glass-card:hover .show-project {
  opacity: 1;
  transform: translateY(-185%);
}

.hidden {
  opacity: 0;
  filter: blue(3rem);
  transform: translateY(100%);
  transition-duration: 1s;
  transition-property: opacity, filter, transform;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  filter: blur(0);
  transform: translateY(0%);
  opacity: 1;
}

.project {
  width: 49%;
}

.project:nth-child(2) {
  transition-delay: 100ms;
}
.project:nth-child(3) {
  transition-delay: 200ms;
}
.project:nth-child(4) {
  transition-delay: 300ms;
}

.logo {
  color: #40cf8e;
}

.card-body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-link {
  color: #8497bc;
  transition-duration: 350ms;
  transition-property: color;
  margin-right: 12px;
}

.icon-link:hover {
  color: #40cf8e;
}

.footer {
  height: 120px;
}

.footer-text {
  margin-bottom: 0px;
}

.icons-list {
  height: 22px;
}

#home {
  min-height: 100vh;
}

.mobile-socials {
  opacity: 0;
}

@media only screen and (max-width: 1000px) {
  .card-title {
    text-align: left;
    font-weight: bold;
    margin-right: 30%;
  }

  .card-text {
    text-align: left;
  }

  .card-content {
    margin-left: 2%;
    margin-right: 2%;
  }

  .gradient {
    height: 100%;
    background-image: none;
    z-index: 2;
  }

  .mobile {
    margin-left: 4.5vw;
    margin-right: 4.5vw;
  }

  .mobile-socials {
    margin-top: 20px;
    opacity: 1;
  }

  #home {
    min-height: 40vh;
  }

  .logo-centered {
    font-weight: 500;
    font-size: 48px;
    z-index: 3;
  }

  .section {
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-padding {
    margin-bottom: 5vh;
  }

  .logo-caption {
    font-weight: 500;
    font-size: 36px;
    transition-duration: 500ms;
  }

  .footer {
    height: 150px;
  }

  .project {
    width: 100%;
  }

  .hidden {
    opacity: 0;
    filter: blue(3rem);
    transform: translateX(-100%);
    transition-duration: 1s;
    transition-property: opacity, filter, transform;
  }

  .show {
    filter: blur(0);
    transform: translateX(0%);
    opacity: 1;
  }
}
